<app-search
  (resetSearchEvent)="onResetSearch()"
  (searchMoviesEvent)="onSearchMovies($event)"
></app-search>
<ng-template [ngIf]="!movie && movies.length === 0">
  <div class="container">
    <img class="main-image" src="../assets/main-image.jpg" alt="movies" />
    <div class="content">
      <p *ngIf="error" class="error">{{ error }}</p>
      <div class="main-div">
        <h1 class="main-message">Welcome to MovieApp!</h1>
        <p class="small-message">
          Biggest movie search engine in the world! here you can find details
          about every movie!
        </p>
      </div>
    </div>
  </div>
</ng-template>
<app-movies
  (searchSingleMovieEvent)="onSearchSingleMovie($event)"
  *ngIf="!movie"
  [movies]="movies"
></app-movies>
<app-movie-page *ngIf="movie" [movie]="movie"></app-movie-page>
