<nav class="navbar">
  <form (submit)="searchMoviesEvent.emit(searchValue); $event.preventDefault()">
    <div class="move-filter">
      <input
        [(ngModel)]="searchValue"
        class="search-bar"
        placeholder="Search a Movie"
        name="name"
        type="text"
      />
      <mat-icon (click)="searchMoviesEvent.emit(searchValue)">search</mat-icon>
    </div>
  </form>
  <div class="app-logo-container">
    <p (click)="resetSearchEvent.emit()" class="app-name">MovieApp</p>
    <img routerLink="/" class="logo" src="../assets/logo.png" />
  </div>
</nav>
